# #Ignore sensitive environment files
.env
#
# #Ignore Python virtual environmentfolders andcaches
venv/
__pycache__/

%% writefile reddit . env
# Reddit API Credentials ( Template )
REDDIT_CLIENT_ID =" YOUR_CLIENT_ID_HERE "
REDDIT_CLIENT_SECRET =" Y OUR_CLIENT_ SECRET_HERE "
REDDIT_USER_AGENT =" YOUR_USER_AGENT_HERE "
