# #Ignore sensitive environment files
.env
#
# #Ignore Python virtual environment folders andcaches
venv/
__pycache__/

%% writefile reddit.env
# Reddit API Credentials ( Template )
client_id=config.get('REDDIT_CLIENT_ID'),
client_secret=config.get('REDDIT_CLIENT_SECRET'),
username=config.get('REDDIT_USERNAME'),
password=config.get('REDDIT_PASSWORD'),
user_agent=config.get('REDDIT_USER_AGENT')

GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_PAT=YOUR_PERSONAL_ACCESS_TOKEN
